@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 255, 255, 255;
}

.dark {
  --foreground: 255, 255, 255;
  --background: 17, 24, 39;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  min-height: 100vh;
}
